import java.util.*;

public class Solution {
    public int[] solution(int []arr) {
        
        ArrayList<Integer> result = new ArrayList<>();    //결과를 담을 ArrayList를 생성합니다.
        result.add(arr[0]);    //arr배열의 첫번째 원소를 결과 리스트에 추가합니다.
        
        //현재 원소의 값과 다음 원소의 값이 다른 경우에만 결과 리스트에 추가합니다.
        for(int i = 1; i < arr.length; i++) {
            if (arr[i] != arr[i - 1]) {
                result.add(arr[i]);
            }
        }
        
        //결과 리스트를 int 배열로 변환 후, 반환합니다.
        int [] answer = new int[result.size()];
        for(int i = 0; i < result.size(); i++) {
            answer[i] = result.get(i);
        }

        return answer;
    }
}
